<%= form_for(@admin_choice) do |f| %>
  <% if @admin_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_choice.errors.count, "error") %> prohibited this admin_choice from being saved:</h2>

      <ul>
      <% @admin_choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :choice %><br>
    <%= f.text_field :choice %>
  </div>
  <div class="field">
    <%= f.label :correct_choice %><br>
    <%= f.check_box :correct_choice %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
