<h1>Listing admin_choices</h1>

<table>
  <thead>
    <tr>
      <th>Choice</th>
      <th>Correct choice</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_choices.each do |admin_choice| %>
      <tr>
        <td><%= admin_choice.choice %></td>
        <td><%= admin_choice.correct_choice %></td>
        <td><%= admin_choice.question %></td>
        <td><%= link_to 'Show', admin_choice %></td>
        <td><%= link_to 'Edit', edit_admin_choice_path(admin_choice) %></td>
        <td><%= link_to 'Destroy', admin_choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choice', new_admin_choice_path %>
