<% @user_response = UserResponse.new %>
<%= form_for @user_response, :url => evaluate_response_path, :method => :post do |f| %>
    <div class="form-group" style="padding-left: 25px">
        <% @currentQuestionInstance[:choices].each do |choice| %>
	        <div class="checkbox"> <%= check_box_tag 'checked_answers[]', choice.choice %> <%= choice.choice %></div>
        <% end %>
    </div>
    <% if current_user %>
        <input id="user_response_user_id" name="user_response[user_id]" type="hidden" value='<%= current_user.id %>' />
    <% end %>
    <input id="user_response_question_instance_id" name="user_response[question_instance_id]" type="hidden" value='<%= @currentQuestionInstance[:questionInstance].id %>' />
    <input id="user_response_award" name="user_response[award]" type="hidden" value="100" />
	<div class="form-group">
        <%= f.submit 'Submit', :class => "btn btn-primary" %>
    </div>
<% end %>

<p>
<% if current_user && current_user.role == 'admin' %>
        Answer (admin only):
        <% @currentQuestionInstance[:choices].each do |choice| %>
            <% if choice.correct_choice %>
                <%= choice.choice %>
            <% end %>
        <% end %>
<% end %>
</p>
