<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @response.user %>
</p>

<p>
  <strong>Questioninstance:</strong>
  <%= @response.questioninstance %>
</p>

<p>
  <strong>Response:</strong>
  <%= @response.response %>
</p>

<p>
  <strong>Award:</strong>
  <%= @response.award %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
