<%= form_for(@admin_user_response) do |f| %>
  <% if @admin_user_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_user_response.errors.count, "error") %> prohibited this admin_user_response from being saved:</h2>

      <ul>
      <% @admin_user_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :response %><br>
    <%= f.text_field :response %>
  </div>
  <div class="field">
    <%= f.label :award %><br>
    <%= f.number_field :award %>
  </div>
  <div class="field">
    <%= f.label :question_instance_id %><br>
    <%= f.text_field :question_instance_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
