<h1>Listing admin_user_responses</h1>

<table>
  <thead>
    <tr>
      <th>Response</th>
      <th>Award</th>
      <th>Question instance</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_user_responses.each do |admin_user_response| %>
      <tr>
        <td><%= admin_user_response.response %></td>
        <td><%= admin_user_response.award %></td>
        <td><%= admin_user_response.question_instance %></td>
        <td><%= admin_user_response.user %></td>
        <td><%= link_to 'Show', admin_user_response %></td>
        <td><%= link_to 'Edit', edit_admin_user_response_path(admin_user_response) %></td>
        <td><%= link_to 'Destroy', admin_user_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User response', new_admin_user_response_path %>
