<p id="notice"><%= notice %></p>

<p>
  <strong>Response:</strong>
  <%= @admin_user_response.response %>
</p>

<p>
  <strong>Award:</strong>
  <%= @admin_user_response.award %>
</p>

<p>
  <strong>Question instance:</strong>
  <%= @admin_user_response.question_instance %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_user_response.user %>
</p>

<%= link_to 'Edit', edit_admin_user_response_path(@admin_user_response) %> |
<%= link_to 'Back', admin_user_responses_path %>
