<p id="notice"><%= notice %></p>

<p>
  <strong>Question type:</strong>
  <%= @admin_question.question_type %>
</p>

<p>
  <strong>Question:</strong>
  <%= @admin_question.question %>
</p>

<p>
  <strong>Attempts:</strong>
  <%= @admin_question.attempts %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @admin_question.difficulty %>
</p>

<%= link_to 'Edit', edit_admin_question_path(@admin_question) %> |
<%= link_to 'Back', admin_questions_path %>
