<h1><%= @question.question %> </h1>
<p id="notice"><%= notice %></p>

<h3>Question Leaderboard</h3>
<ul class="list-group">
					<% if question_leaderboard.ntuples.zero? %>
						<li class="list-group-item">No one has answered yet</li>
					<% else %>
						<% question_leaderboard.each do |user| %>
					  <li class="list-group-item">
					    <span class="badge"><%= user["award"] %></span>
					    <%= user["username"] %>
					  </li>
					  <% end %>
				  <% end %>
</ul>


<br>
<br>
<h3>Question Choices</h3>
<ul>
    <% @choices.each do |choice| %>
        <li><%= choice.choice %></li>
        <% if @question.question_type == 3 then %>
            <% break %>
        <% end %>
    <% end %>
</ul>
<p>
  <strong>Question type:</strong>
  <%= @question.question_type == 1 ? "Multiple Choice" : ""  %>
  <%= @question.question_type == 2 ? "Multiple Select" : "" %>
  <%= @question.question_type == 3 ? "Short Answer" : ""%>
</p>
<br>
