<h1>Listing difficulties</h1>

<table>
  <thead>
    <tr>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @difficulties.each do |difficulty| %>
      <tr>
        <td><%= difficulty.points %></td>
        <td><%= link_to 'Show', difficulty %></td>
        <td><%= link_to 'Edit', edit_difficulty_path(difficulty) %></td>
        <td><%= link_to 'Destroy', difficulty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Difficulty', new_difficulty_path %>
