<%= form_for(@admin_question_instance) do |f| %>
  <% if @admin_question_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_question_instance.errors.count, "error") %> prohibited this admin_question_instance from being saved:</h2>

      <ul>
      <% @admin_question_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
