<h1>Listing admin_question_instances</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_question_instances.each do |admin_question_instance| %>
      <tr>
        <td><%= admin_question_instance.question %></td>
        <td><%= link_to 'Show', admin_question_instance %></td>
        <td><%= link_to 'Edit', edit_admin_question_instance_path(admin_question_instance) %></td>
        <td><%= link_to 'Destroy', admin_question_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question instance', new_admin_question_instance_path %>
