<% if current_user %>
<h1> <%= current_user.username %> Profile </h1>
<% end %>

<div class="container">
    <% flash.each do |name, msg| %>
    <div class="alert alert-dismissable alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= content_tag :span, msg, :id => "flash_#{name}" %>
    </div>
    <% end %>

    <%= yield %>

</div>

<% if current_user %>
<% userResponses = getUserResponses%>
<div id="user_responses" class="container">
    <div class="row">
        <div class="col-md-4">Question</div>
        <div class="col-md-4">Response</div>
        <div class="col-md-4">Points Achieved</div>
    </div>
    <% userResponses[:responses].each do |user_response| %>
    <div class="row">
        <div class="col-md-4"><%= user_response.question_instance.question.question %></div>
        <div class="col-md-4"><%= user_response.response %></div>
        <div class="col-md-4"><%= user_response.award %></div>
    </div>
<% end %>  
</div>
<% end %>
