<!DOCTYPE html>
<html>
<head>
  <title>Team Awesome</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left"> 
              <%= link_to "Home", root_path %>
            </div>
            <div class="pull-right">
              <% if current_user %>
                (<%= percentage_correct %>% Correct)
                Logged in as <%= link_to current_user.username, profile_path %>.
                <%= link_to "Log out", logout_path %>
              <% else %>
                <%= link_to "Sign up", signup_path %> or
                <%= link_to "log in", login_path %>
              <% end %>
            </div>
        </div>
    </div>

    <% flash.each do |name, msg| %>
    <div class="alert alert-dismissable alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= content_tag :span, msg, :id => "flash_#{name}" %>
    </div>
    <% end %>

    <%= yield %>

</div>
</body>
</html>
