<% content_for :content do %>
<div class="row">
	<div class="col-md-8">
		
			<% flash.each do |name, msg| %>
	    <div class="alert alert-dismissable alert-<%= name %>">
	      <button type="button" class="close" data-dismiss="alert">×</button>
	      <%= content_tag :span, msg, :id => "flash_#{name}" %>
	    </div>
	    <% end %>
	    
	    <h3><%= @currentQuestionInstance[:question].question %></h3>
	    <%= yield %>
	    
	</div>
	<div class="col-md-4">
		<div class="your-clock"></div>
    <script type="text/javascript">
    	var diff = 60 - <%= @currentQuestionInstance[:questionAge] %>;
			var clock = $('.your-clock').FlipClock(diff, {
				countdown: true,
				clockFace: 'MinuteCounter',
				callbacks: {
	        	stop: function() {
	        		location.reload();
	        	}
	        }
			});
			
			if (clock.getTime() == 0) {
				location.reload();
			}
    </script>
    <div class="row">
    	<div class="col-md-12">
		    <h6 class="pull-left">Points Left: <%= @totalPointsLeft %></h6>
				<h6 class="pull-right">Total Points: <%= @totalPoints %></h6>
			</div>
		</div>
		<div class="progress progress-striped active">
		  <div class="progress-bar" style="width: <%= (@totalPointsLeft.to_f / @totalPoints.to_f) * 100.0 %>%"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Leaderboard</h2>
				<ul class="list-group">
					<% if question_leaderboard.ntuples.zero? %>
						<li class="list-group-item">No one has answered yet</li>
					<% else %>
						<% question_leaderboard.each do |user| %>
					  <li class="list-group-item">
					    <span class="badge"><%= user["award"] %></span>
					    <%= user["username"] %>
					  </li>
					  <% end %>
				  <% end %>
				</ul>
			</div>
		</div>
		<a href="https://www.youtube.com/watch?v=BROWqjuTM0g"><img src="<%= image_path("ad.gif") %>" alt="Good deal"></a>
	</div>
</div>
<% end %>
<%= render template: "layouts/application" %>